body{
  height: 100vh;
  position: relative;
  background: url('./background/funky-lines.png');
}
.game{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.konvajs-content {
  background: black;
}

.App {
  text-align: center;
}

.container {
  text-align: center;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  padding: 20px 0;
}

a {
  -webkit-tap-highlight-color: transparent;
  text-decoration: none;
}

.auth{
  text-align: center;
}
.google-button {
  display: inline-block;
  max-width: 300px;
  margin-top: 50px;
  border: 0;
  padding: 0 18px;
  text-align: left;
  width: 100px;
  height: 37px;
  border-radius: 4px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -moz-font-feature-settings: "liga" on;
  color: rgba(109, 76, 76, 0.84) !important;
  fill: rgba(0, 0, 0, 0.84) !important;
  box-shadow: 0 1px 3px rgba(0, 0, 0, .6);
  font: inherit;
  outline: none;
  background-color: white;
}

.google-button .svgIcon {
  vertical-align: middle;
  fill: rgba(0, 0, 0, 0.54);
  padding-right: 4px;
  height: 37px;
  display: inline-block;
}
.blink {
  display: inline-block;
  height: 10px;
  width: 10px;
  margin: 0 5px;
  border-radius: 50%;
  cursor: pointer;
  position: relative;
  background: rgb(60, 124, 31);
  animation: 2s mix infinite;
}
@keyframes mix {
  0% {
    transform: scale(0.5);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(0.5);
  }
}

